* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --secondary-color: #4EC5F7;
    --des-color: #534C64;
}

/* nav section start here  */
header {
    margin: 30px 200px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo {}

.logo-text {
    font-size: 2.9rem;
    font-weight: 700;

}

.pink {
    background: var(--linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 28px;
    font-weight: 500;
}

.nav-item {
    padding: 18px 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* nav section ends here  */

/* banner part start here  */
.banner-section {
    background-image: url("../images/Group\ 14.png");
    background-position: left;
    background-size: 50%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    background-image: url("../images/Group\ 14.png");
    width: 50%;
    padding-bottom: 20px;
    padding-left: 10px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;

}

.banner-title1 {
    font-size: 6rem;
    background: var(--linear2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-des {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--des-color);
    margin: 10px 0;
}

.primary-btn {
    padding: 18px 35px;
    border-radius: 48px;
    margin-right: 20px;
    font-weight: 600;
    color: white;
    background: var(--linear);
    border: none;
    margin-top: 20px;
}

.sec-btn {
    padding: 18px 35px;
    border-radius: 48px;
    font-weight: 600;
    color: white;
    background: #4EC5F7;
    border: none;
    margin-top: 20px;
}



.banner-img {
    width: 100%;
}

.banner-img-container {
    width: 50%;
}

/* banner part end here  */
/* gamer section satrt here  */
.we-are-gamer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer-img {
    width: 55%;
}

.gamer {
    width: 100%;
}

.gamer-content {
    text-align: right;
    width: 45%;
}

.we-are-gamer small {
    font-size: 1.6rem;
    font-weight: 400;
}

.gamer-title {
    font-size: 2.9rem;
    background: var(--linear2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 20px;

}
.gamer-des{
    font-weight: 400;
    color: var(--des-color);
    /* margin-bottom: 10px; */
}
.gamer-b-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--des-color);
    margin-bottom: 40px;
    
}


/* gamer section ends here  */

/* online games stats here  */
main {
    margin: 30px 200px;

}

.online-games {}

.online-title {
    font-size: 2.9rem;
    font-weight: 600;
    text-align: center;
}

.online-des {
    color: var(--des-color);
    font-weight: 400;
    text-align: center;
    margin: 20px;
    font-size: 1.1rem;
}

.gradient {
    background: var(--linear2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.online-games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.games-card {
    margin: 20px 0;
}

.games-icon-card {
    position: relative;
}

.icon-con {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}

.games-img {
    width: 100%;

}

.games-des {
    color: var(--des-color);
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.watch {
    color: #F948B2;
    font-weight: 600;
}

.online-games i {
    font-size: 2rem;
    margin-bottom: 5px;
}

/* online games ends here  */

/* play instant start here  */
.play-instant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    /* gap: 100px; */
    /* position: relative; */
}

.play-instant-content {
    width: 35%;
    margin: auto;
    /* position: relative; */
    /* top: 35%; */
}

.play-inside {
    position: relative;
    /* top: -20%; */
    bottom: 50%;
}

.play-title {
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: right;
}

.play-imgs-container {
    width: 50%;
    position: relative;
}

.play-img {}

.big-img {
    width: 80%;
    position: relative;
    left: 20%;
}

.small-img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 4%;
}

.play-des {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
}

/* play instant ends here  */
/* catagories section start here  */
.cat-box {
    display: flex;
    /* justify-content: ; */
    gap: 5px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 4px 4px 4px gray;
    align-items: center;
    padding: 5px 10px;
    border: 3px solid transparent;


}

.catagories-section {
    display: flex;
    /* flex-basis: 100px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;

}

section div img {
    /* width: 40%; */
}

.cat-box:hover {
    border: 3px solid #F948B2;
}

/* catagories section end here  */


/* footer stat here  */
footer {
    /* margin: 1000px auto; */
    
    background: #0B0223;
    height: auto;
}

.white {
    /* background: white; */
    color: white;
    text-align: center;
}

.footer-container {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-top: 100px;

}

.footer-item {
    color: white;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 1.1rem;
    font-weight: 600;

}

.footer-list {
    text-align: center;
    margin-bottom: 40px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-list p {
    font-weight: 400;
}

.footer-list2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fa-brands {}

.footer-item-2 {
    font-size: 2rem;
    margin-right: 40px;
    margin-bottom: 40px;
}

.footer-item-3 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    padding-bottom: 100px;
}




/* footer stat here  */